<div class="container">
  <form #f="ngForm" (ngSubmit)="addData(f)" class="form-cotrol-anfi">
    <label for="text" class="form-control">Name </label>
    <input type="text" name="name" ng ngModel class="form-control">
    <br>
    <label for="text" class="form-control">Email </label>
    <input type="email" name="email" ngModel class="form-control">
    <br>
    <label for="password" class="form-control">Password </label>
    <input type="password" name="password" ngModel class="form-control">
    <br>
    <button class="btn" type="submit">Save</button>
  </form>
  <br>
  <ul>
    <div>🥨</div>
    <li *ngFor="let data of userData |async">
      {{ data.name }} / {{ data.email }}
      <button class="btn" (click)="updateData(data.id)"> Edit </button>
      <button class="btn" (click)="deleteData(data.id)" > Delete </button>
    </li>
  </ul>
</div>


<!-- <form *ngIf="showAddTask" class="add-form" (ngSubimt)="onSubmit">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task" />
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day & Time" />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form> -->


<router-outlet></router-outlet>
